.flex {
  display: flex;
}

.page {
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 1em 0;
}

.page__title {
  color: rgb(29, 29, 29);
}

.page__button {
  background-color: rgb(25, 133, 161);
  border-style: none;
  border-radius: 15px;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 0.9em;
  font-weight: bold;
  margin: 1em;
  padding: 0.3em;
  width: 200px;
}

.page__button:hover {
  transform: scale(1.1);
  transition: 1s;
}

@media screen and ( min-width: 768px ) {
  .page__title {
    font-size: 2em;
  }

  .page__button {
    font-size: 1em;
    margin: 1em;
    padding: 0.5em;
    width: 300px;
  }
}

@media screen and ( min-width: 1024px ) {
  .page__button {
    font-size: 1.2em;
    margin: 2em;
    padding: 0.5em;
    width: 400px;
  }
}
