/* Base Rules */
* {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

body {
    background-color: #ffffff;
}

h1 {
    font-size: 1.25rem;
}

/* Layout Rules */
/* naming -> l-... */
/* naming -> grid-... */
.l-inline {
    display: inline;
}

.flex {
    display: flex;
    flex-direction: row;
}
.flex-item-grow-1 {
    flex-grow: 1;
}

/* Module Rules */
/* naming -> its name itself */
.container {
    width: 100%;
    padding: 1.5rem 3rem;
}

.card {
    width: 50%;
}
.card-link {

}
.card-figure {
    width: 100%;
    height: auto;
}
.card-title {

}

/* State Rules */
/* naming -> is-... */
/* naming -> is-module-... */
.is-hidden {
    display: none;
}

/* Theme Rules */