.btn {
    border-radius: 5px;
    padding: 15px;
    transition: .3s;

    display: flex;
    align-items: center;

    @extend .text-btn;
    
    &.btn-primary {
        background-color: $pink;
        color: white;
        border: 0;

        &:hover {
            opacity: 0.7;
        }
    }

    > img {
        width: 18px;
        margin-right: 10px;
    }
}