.card-title {
    @include typography('Montserrat', sans-serif, 700, 16px, 16px);

    @media screen and (min-width: $max-width-smartphone) {
        font-size: 22px;
        line-height: 22px;
    }
}

.post-title {
    @include typography('Montserrat', sans-serif, 700, 20px, 27px);

    @media screen and (min-width: $max-width-smartphone) {
        font-size: 48px;
        line-height: 56px;
    }
}

.post-title-2 {
    @include typography('Montserrat', sans-serif, 700, 20px, 27px);
}

.post-excerpt {
    @include typography('Montserrat', sans-serif, 300, 18px, 24px);

    @media screen and (min-width: $max-width-smartphone) {
        font-size: 22px;
        line-height: 32px;
    }
}

.post-content {
    @include typography('Montserrat', sans-serif, normal, 1rem, 2rem);
}

.post-date {
    @include typography('Montserrat', sans-serif, 300, 12px, 19px);
}

.post-image-reference {
    @include typography('Montserrat', sans-serif, 300, 12px, 24px);
}

.post-cite {
    @include typography('Montserrat', sans-serif, 600, 1.125em, 2rem);
}

.date-card {
    @include typography('Montserrat', sans-serif, 300, 10px, 10px);
    
    @media screen and (min-width: $max-width-smartphone) {
        font-size: 12px;
        line-height: 12px;
    }
}

.text-btn {
    @include typography('Montserrat', sans-serif, 700, 16px, 19px);
}

