@font-face {
  font-family: 'ibm_plex_sansregular';
  src: url('../fonts/ibmplexsans-regular-webfont.eot');
  src: url('../fonts/ibmplexsans-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ibmplexsans-regular-webfont.woff2') format('woff2'),
       url('../fonts/ibmplexsans-regular-webfont.woff') format('woff'),
       url('../fonts/ibmplexsans-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.font-ibm-plex {
  font-family: ibm_plex_sansregular, Arial, Helvetica, sans-serif;
}

.btn-default {
  background-color: #8257E5;
  border: 2px solid #8257E5;
  border-radius: 4px;
  color: #E2E1E6;
  font-weight: 800;
  outline: none;
  padding: 13px 19px;
  transition: all 0.25s linear;
}

.btn-default:hover {
  background-color: rgba(130, 87, 229, 0);
  color: #8257E5; 
  cursor: pointer;
}

.loading-container {
  height: 600px;
  margin: 0 auto;
  max-width: 1280px;
}

.loading-text {
  color: #FEFEFE;
  font-size: 40px;
  margin: 25px auto;
  width: fit-content;
}

@media (max-width: 700px) {
  .loading-text {
    font-size: 30px;
  }
}
