.posts-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__header {
        display: block;
        width: 100%;
    }

    &__page {
        display: flex;
        flex-wrap: wrap;
        @media screen and (min-width: 768px) {
            width: calc(100% + 30px);
            margin: 0 -15px;
        }
    }

    &__pagination-btn {
        display: block;
        padding: 10px;
        margin: 30px auto;
        background-color: #F88121;
        color: #fff;
        border: none;
        border-radius: 8px;
        transition: background-color 0.2s;
        will-change: background-color;
        &:hover {
            background-color: #188ECC;
        }
    }
}