.post-details__title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(154, 206, 154);
  position: fixed;
  height: 10%;
  width: 100%;
  font-size: 1.7em;
  box-shadow: black 0px 6px 7px 0px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

@media (max-width: 414px) {
  .post-details__title {
    font-size: 1.2em;
    transition: all 300ms;
  }
}

.post-details__img {
  margin-top: 70px;  
  width: 100%;
}

.post-details__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  margin-bottom: 70px;
  font-size: 1em;

  img {
    margin: 30px 0;
    width: 100%;
    max-width: 700px;
    height: 30%;
  }

  h2, h3, h4 {
    align-self: center;
    margin-top: 15px;
  }

  p, blockquote {
    margin: 0;
    display: inline;
    text-align: justify;
    text-indent: 35px;
  }

  ul {
    align-self: flex-start;
    margin-left: 25px;
    
    li {
      text-align: left;
    }
  }  
  
  table {
    border: 1px solid #80808052;
  
    th {
      width: 30%;
    }
  
    tbody {
      text-align: left;
  
      tr {
        &:nth-child(even) {
          background-color: #CCC;
        }
  
        &:nth-child(odd) {
          background-color: #f1ebeb;;
        }
      }
  
    }
  
  
  }

  pre, figure {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.loading {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
}