.posts{
    margin-top: 10px;

    border-radius: 0.5rem;

}

.post-container{

    list-style: none;
}


li {
    display: flex;
    margin-bottom: 1rem;
}

li img{
    height: 120px;
    margin-right: 10px;
}