.item {
  margin: 1rem;
  background: #123e7d;
  box-shadow: 0 0 5px #667994;
}

.item:hover {
  box-shadow: 0 0 5px #ddd;
  transform:scale(1.1);
  transition: .3s;
}

.image {
  width: 100%;
  overflow: hidden;
}

.image img {
  width: 100%;
  height: 170px;
  object-fit: cover;
}

.content {
  text-align: left;
  padding: 1rem ;
}

.content h3 {
  font-size: 15px;
  text-align: left;
  padding-bottom: 1rem;
  color: #fff;
}



