.home-news {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;

  margin-bottom: 30px;
}

#carregar-mais-btn {
  border: none;
  border-radius: 5px;
  background-color: red;

  color: rgb(240, 240, 240);

  font-family: sans-serif;
  font-weight: 1000;

  padding: 20px;
  margin: 20px 0px;
}

#topo-btn {
  right: 50px;
  top: 90vh;
  position: fixed;

  color: #222;
  font-size: 2.5rem;

  background: none;
  border: none;
}
