@import ../../../style/global.sass

header.single
  position: relative

#single
  display: flex
  // max-width: 1000px
  // margin: 50px auto 30px auto
  // overflow: hidden
  // border-radius: 5px

  .left-container
    flex: 0 0 40%
    position: relative
    height: fit-content

    .title
      position: absolute
      bottom: 0
      height: 100%
      display: flex
      align-items: flex-end
      justify-content: flex-end
      padding: 7%
      background-image: linear-gradient(to top, #111, transparent)

      h1
        text-align: right
        color: #fff
        font-size: 25px

  .post__info
    flex: 1 0 60%
    background: #fff
    padding: 3%
    // text-align: justify

    p
      margin-bottom: 20px

    h2,
    h3,
    h4
      margin: 30px 0 15px 0

    h2,
    h3
      font: 25px var(--fonte-alternativa)

    table
      font-family: arial, sans-serif
      border-collapse: collapse
      width: 100%
      margin-bottom: 20px

      thead
        background: #eee

        th
          padding: 15px 10px

      td, th
        border: 1px solid #dfdfdf
        text-align: left
        padding: 10px

      tr:nth-child(even)
        background-color: #eee

    img
      display: block
      margin: 0 auto 20px auto

    ul
      margin: 0 0 20px 40px

    a
      border-bottom: 1px solid var(--cor-dois)
      color: var(--cor-um)
