@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,500;0,600;1,300;1,500;1,600&family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Open+Sans:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Press+Start+2P&display=swap");
:root {
  --cor-um: #222;
  --cor-dois: #dfdfdf;
  --cor-realce: #f1d296;
  --global-margin: 5%;
  --fonte-corpo: 'Open Sans', sans-serif;
  --fonte-alternativa: 'Chakra Petch';
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #eee;
  background-attachment: fixed;
  font-family: var(--fonte-corpo);
}

body a {
  text-decoration: none;
}

body img {
  max-width: 100%;
  height: auto;
  margin-bottom: -4px;
}

.transition-4ms {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.text-underlined {
  boder-bottom: 1px solid var(--cor-realce);
  display: inline-block;
  padding-bottom: 2px;
}

header.single {
  position: fixed;
  top: 0;
}

#post {
  margin: 50px auto 0 auto;
}

#post .post__image {
  position: fixed;
  height: calc(100vh - 50px);
  width: 35%;
}

#post .post__image .title {
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 7%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#000), to(transparent));
  background-image: linear-gradient(to top, #000, transparent);
}

#post .post__image .title h1 {
  text-align: right;
  color: #fff;
  font-size: 25px;
}

#post .post__info {
  width: calc(70% - 0);
  background: #fff;
  padding: 3%;
  margin: 50px 0 0 35%;
}

#post .post__info .post__info__header {
  padding: 0 0 10px 0;
  margin: 0 0 30px 0;
  border-bottom: 1px solid var(--cor-dois);
}

#post .post__info .post__info__header .post__info__author {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--cor-um);
  margin: 10px 0 0 0;
}

#post .post__info .post__info__header .post__info__author img {
  border-radius: 100%;
  width: 25px;
  display: inline-block;
  margin: 0 10px 0 0;
}

#post .post__info .post__content p {
  margin-bottom: 20px;
}

#post .post__info .post__content h2,
#post .post__info .post__content h3,
#post .post__info .post__content h4 {
  margin: 30px 0 15px 0;
}

#post .post__info .post__content h2,
#post .post__info .post__content h3 {
  font: 25px var(--fonte-alternativa);
}

#post .post__info .post__content table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

#post .post__info .post__content table thead {
  background: #eee;
}

#post .post__info .post__content table thead th {
  padding: 15px 10px;
}

#post .post__info .post__content table td, #post .post__info .post__content table th {
  border: 1px solid #dfdfdf;
  text-align: left;
  padding: 10px;
}

#post .post__info .post__content table tr:nth-child(even) {
  background-color: #eee;
}

#post .post__info .post__content img {
  display: block;
  margin: 0 auto 20px auto;
}

#post .post__info .post__content ul {
  margin: 0 0 20px 40px;
}

#post .post__info .post__content a {
  border-bottom: 1px solid var(--cor-dois);
  color: var(--cor-um);
}

#footer.single {
  margin: 0 0 0 35%;
  padding: 3%;
}
/*# sourceMappingURL=style.css.map */