@import '../../../style/global.sass'

.post
  background: rgba(255, 255, 255,1)
  backdrop-filter: blur(2px)
  color: #222
  border-radius: 5px
  box-shadow: 4px 4px 0px 0 #dfdfdf
  img
    display: block
    border-radius: 5px 5px 0 0

  .post__info
    padding: 25px
    border-top: 2px solid #ea00d9

    h2
      font-size: 20px
      font-family: var(--fonte-alternativa)

    p
      display: block
      margin: 10px 0 0 0
      font-size: 15px
