@import '../../../style/global.sass'

.post
  background: rgba(255, 255, 255,1)
  color: #222
  border-radius: 5px
  overflow: hidden
  outline: 1px solid #eee
  position: relative
  @extend .transition-4ms

  a
    color: #333

  a.post__author
    position: absolute
    width: 100%
    display: flex
    justify-content: flex-end
    top: 0
    right: 0
    margin: 18px 15px 0 0

    img
      width: 8%
      border-radius: 100%
      border: 3px solid rgba(255, 255, 255, 0.3)

  img
    display: block

  .post__info
    padding: 25px 25px 65px 25px
    border-top: 2px solid #ea00d9

    h2
      font-size: 20px
      font-family: var(--fonte-alternativa)

    p
      display: block
      margin: 10px 0 0 0
      font-size: 15px

    .post__info__date
      position: absolute
      font-size: 13px
      left: 0
      bottom: 0
      font-weight: 600
      margin: 0 0 25px 25px
      opacity: 0.7

      i
        display: inline-block
        margin: 0 5px 0 0

.post:hover
  outline-color: transparent
  box-shadow: 6px 6px 0px 0 #FFA800, -6px -6px 0px 0 #ea00d9
