@import '../../../style/global.sass'

.post
  background: #131738
  color: #fff
  border-radius: 5px

  img
    display: block
    border-radius: 5px 5px 0 0

  .post__info
    padding: 25px
    border-top: 2px solid #ea00d9

    h2
      font-size: 20px
      font-family: var(--fonte-alternativa)

    p
      display: block
      margin: 10px 0 0 0
      font-size: 15px
