.button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  margin: 0;
  width: 20vw;
  height: 10vh;
  background-color: #009cde;
  border: none;
  border-radius: 5px;
  font-size: 1.4rem;

  &:hover {
    cursor: pointer;
    background-color: #0d7cab;
  }
}

.load {
  position: relative;
  margin: 60px 0;
}
