// Colors
$color-white: #fff;
$color-black: #000;
$color-green: #46a84d;
$color-dark-green: #0c5e1f;
$color-gray: #a0a0a0;

// Font Family Declarations
$font-mont: "Montserrat", Arial, Helvetica, sans-serif;
$font-mont-bold: "Montserrat Bold", Arial, Helvetica, sans-serif;
$font-mont-light: "Montserrat Light", Arial, Helvetica, sans-serif;
