.chakraBox {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainAllContent {
  width: 100%;
}

.mainTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  background-color: #f1f1f1;
  padding: 8px;
  width: 100%;
  height: 20vh;
  border-bottom: 1px solid #a0a0a013;

  @media (min-width: 768px) {
    padding: 16px;
  }
}

.mainH1,
.mainSubtitle,
.figureTitle,
.comments {
  font-family: "Montserrat", sans-serif;
}

.mainSubtitle {
  font-weight: 400;
  color: #a0a0a0;
}

.mainContent {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.itemContainer {
  width: 100%;
  display: flex;
}

.mainFigure {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 8px;
  gap: 8px;

  @media (min-width: 768px) {
    padding-left: 16px;
  }
}

.mainImg {
  width: 100px;
  object-fit: contain;

  @media (min-width: 768px) {
    width: 20%;
  }
}

.figureInfo {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (min-width: 768px) {
    width: 25%;
  }
}

.figureTitle {
  color: #000000;
  font-weight: 800;
  font-size: 14px;

  @media (min-width: 768px) {
    font-size: clamp(1.3rem, 2vw, 1.5rem);
  }
}

.commentsInfo {
  display: flex;
  align-items: center;
  gap: 4px;
}

.TfiComment {
  width: 12px;
  height: 12px;
}

.comments,
.readingTime {
  font-size: 0.7rem;

  @media (min-width: 768px) {
    font-size: clamp(1rem, 2.1vw, 1.2rem);
  }
}
