.theme-default {
    padding-top: 90px;
    padding-bottom: 90px;

    .container {
        max-width: 1200px;
        width: 100%;
        padding: 0 15px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        margin: 0 auto;
    }

    img {
        object-fit: cover;
    }
}