.theme-default {
    padding-bottom: 90px;
    padding-top: 90px;

    @media screen and (min-width: $min-width-desktop) {
        padding-top: 140px;
    }

    .container {
        max-width: 1200px;
        width: 100%;
        padding: 0 15px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        margin: 0 auto;
    }

    img {
        object-fit: cover;
    }
}