

.post {
    color: #424242;
    max-width: 60rem;
}

.post img {
    border-radius: 0.3rem;
    margin-bottom: 1rem;
}

.post h1,
h2,
h3,
h4 {
    align-items: center;
    line-height: 1;
    font-size: 2rem;
    margin: 2rem 0 1rem 0;
    color: #181818;
    font-family: var(--type-first);
    padding: 1rem;
}

.post p {
    font-size: 1.1rem;
    margin-bottom: 1rem;

}

.post li {
    line-height: 1;
    margin: none;
    margin-bottom: 1rem;
}

.post a {
    color: #BA007C;
}

table {
    border-collapse: collapse;
    background: #e6e6e6;
}

table td {
    border: 1px solid black;
}

table th {
    border: 1px solid black;
    background: #c2c2c2;
}


@media(max-width:700px) {
    .post p {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    .post li {
        font-size: 1.2rem;
        line-height: 1.5;
        margin: none;
        margin-bottom: 1rem;
    }

}