main {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 3rem 0;
}

.main__title {
  font-size: 3rem;
  padding: 1.5rem 1rem;
  text-align: center;
}

.main__button {
  background-color: var(--red);
  border-color: var(--dark-white);
  border-radius: 0.5rem;
  box-shadow: 5px 5px 18px -5px rgba(255, 0, 0, 0.78);
  color: var(--dark-white);
  cursor: pointer;
  font-size: 1.6rem;
  margin-top: 1.5rem;
  padding: 0.5rem 3rem;
  transition: all ease-in-out 0.4s;
}

.main__button:hover {
  background-color: var(--dark-red);
}

.main__button:disabled {
  cursor: default;
  background-color: var(--dark-white);
  color: var(--dark-red);
  border-color: var(--red);
}

@media (max-width: 480px) {
  .main__title {
    padding: 1.5rem 0;
  }
}
