.footer {
  width: 100%;
  background-color: #f5f5f5;

  &-disclaimer {
    padding: rem-calc(40) 0;
    text-align: center;

    &__text {
      font-size: rem-calc(12);
      margin-bottom: rem-calc(16);
    }

    &__link {
      font-size: rem-calc(12);
      color: $color-green;
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
