@import ../../../style/global.sass

#main
  overflow: hidden

#container
  background: #eee
  padding: 0px var(--global-margin) var(--global-margin) var(--global-margin)
  display: grid
  grid-template-columns: repeat(3, 1fr)
  gap: 40px
  position: relative
  z-index: 1

#container::before
  box-shadow: -4px -4px 0px 0 #dfdfdf
  content: ""
  width: calc(100% + 200px)
  height: 250px
  background: #eee
  border-radius: 100% 100% 0 0
  margin: -100px -100px 0 -100px
  position: absolute
  left: 0
  top: 0
  z-index: 0

#site-intro
  position: relative
  z-index: -1
  padding: 20px 0 170px 0
  text-align: center

  h2
    font-family: var(--fonte-alternativa)
    margin: 0 0 10px 0

#navigation
  border-top: 2px solid #FFA800
  padding: 40px 0 0 0 !important
  margin: 0 var(--global-margin) 80px var(--global-margin) !important
  @include horizontal-list

  ul
    display: flex
    justify-content: center

    li
      flex: 0 0 calc(100% / 3 - 30px)

      a
        background: #fff
        padding: 15px 20px
        border-radius: 5px
        display: block
        text-align: center
