/* CSS inspired by  https://www.w3schools.com/howto/howto_css_loader.asp */
.flex {
  display: flex;
}
.loader__container {
  align-items: center;
  justify-content: center;
}
.loader {
  animation: spin 2s linear infinite;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  border: 16px solid #f3f3f3;
  height: 120px;
  width: 120px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
