.card {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: transform .3s;
    box-shadow: 0px 8px 20px rgb(62 70 79 / 12%);
    border-radius: 10px;

    &:hover {
        transform: translateY(-5px);
    }

    > .card-image {
        border-radius: 10px 10px 0 0;
    }

    > .card-body {
        flex-grow: 1;
    }  
     
}

.card-skeleton {
    display: flex;
    flex-direction: column;

    > .card-image-skeleton {
        height: 220px;
        border-radius: 10px 10px 0 0;
        background-color: #EEEDEF;
    }

    > .card-body-skeleton {
        .title-card-skeleton {
            height: 20px;
            width: 100%;
            background-color: #EEEDEF;
        }

        .date-card-skeleton {
            height: 10px;
            width: 20%;
            background-color: #EEEDEF;
        }
    }
}