body {
  background-color: #FFFAF0;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  height: 100%;
  margin: 0;
  width: 100%;
}

.carregando {
  background-color:#DCDCDC;
  height: 2000px;
  text-align: center;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
}

.interna {
  padding: 2rem;
}

.flex {
  display: flex;
}

.align-items {
  align-items: center;
}

.card {
  border: 1px solid black;
  color: black;
  display: flex;
  margin: 30px auto;
  width: 75%;
}

.card-sm {
  border: 1px solid black;
  color: black;
  display: flex;
  margin: 30px auto;
  width: 35%;
}

.btn {
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-green {
  background-color: #006400;
  color: whitesmoke;
}

.btn-sm {
  font-size: 0.5rem;
  margin: 10px;
  padding: 0.5rem;
}

.btn-big {
  font-size: 1.5rem;
  margin: 20px 60px 20px 20px;
  padding: 0.75rem;
}

.btn-disabled {
  background-color: #228B22;
  cursor: unset;
}

img {
  width: 50%;
}

.img-sm {
  width: 20px;
}

.title {
  font-size: 40px;
}

.link {
  text-decoration: none;
}

.font-grey {
  color: #696969;
}

.font-black {
  color: black;
}

textarea {
  resize: none;
}

.text-center {
  text-align: center;
}

li {
  list-style: none;
  cursor: pointer;
  font-size: 10px;
}

.margin-left {
  margin-left: 10px;
}

.margin-bottom {
  margin-bottom: 10px;
}

.margin-top {
  margin-top: 250px;
}

.margin-right {
  margin-right: 50px;
}

@media only screen and (min-width: 415px) {
  .content {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card-pc {
    width: 50%;
  }

  .btn {
    margin: auto;
  }
}
