html {
  overflow-x: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
}

.loadMore {
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: center;
  width: 100%;
}
.loadMore a {
  background: #faa635;
  border-radius: 3px;
  color: white;
  display: inline-block;
  padding: 10px 30px;
  transition: all 0.25s ease-out;
  -webkit-font-smoothing: antialiased;
}
.loadMore a:hover {
  background-color: #042a63;
}
