*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(218, 216, 216);
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 2rem;
}
