@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  color: #212121;
  background-color: #f7f7f7;
  line-height: 1.7;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.8rem;
}

ul {
  list-style: none;
}

main {
  min-height: 100vh;
}
