@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

html, 
body {
  padding: 0;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  background-color: #EFF0F3;
}

* {
  box-sizing: border-box;
  font-size: 62.5%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  padding-bottom: 4rem;
}

.button button {
  background: none;
  border: none;
  font-size: 2rem;
  font-weight: 300;
  color: #FFF;
  padding: 1rem 1.6rem;
  background-color: #3B9CDE;
  border-radius: 5px;
  cursor: pointer;
}