* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.homeContainer {
  background: #ccc;
  display: flex;
  flex-direction: column;
}

.homeContainer h1 {
  text-align: center;
}

.cardContainer {
  align-items: center;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  padding-top: 1.25rem;
}

.cardContainer:nth-child(odd) {
  background: #ccc;
}

.cardContainer:nth-child(even) {
  background: #aaa;
}

.cardContainer h3 {
  letter-spacing: 0.1rem;
}

.cardContainer img {
  margin-top: 0.5rem;
  max-width: 80%;
  max-height: 85vh;
}

.cardContainer a {
  margin-top: 0.5rem;
  text-decoration: none;
  color: red;
}