section{
    padding: 30px 0px;
}

ul{
    margin-top: 2rem;
    list-style-type: none;
}

li{
    margin-bottom: 2rem;
}

button{
    border: none;
    width: 700px;
    padding: 2rem;
    transition: 0.4s;
    font-size: 1.2rem;
    border-radius: 1rem;
    border: none;
}

button:hover{
    background: rgb(92, 117, 226);
    color: white;
}