$purple: #574AE8;
$gradientDefault: linear-gradient(90deg, rgba(87,74,232,1) 0%, rgba(62,161,219,1) 100%);

$white: #fff;

$white200: #F3F5F7;

$gray: #717171;

$grayDark: #1A202C;

.container {
  max-width: 1440px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

.navigation {
  background: $gradientDefault;
}

.navbar {
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__menu {
    display: flex;
    gap: 25px;
    padding: 12px 0;
  }
  &__link {
    color: #fff;
    &:hover {
      border-bottom: 2px solid #fff;
    }
  }

}

.posts__content {
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgb(19 19 31 / 5%);
  border-radius: 5px;
  padding: 24px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 25px;
  div {
    max-width: 100%;
  }
}
.post__author {
  font-size: 14px;
  color: $gray;
  margin-left: 15px;
}

.post__title {
  font-weight: 400;
  font-size: 26px;
  line-height: 32px;
  text-align: left;
  color: #1A202C;
}
.post__date {
  display: flex;
  align-items: center;
  margin: 0 0 10px;
  gap: 10px;
  font-size: 14px;
  color: $gray;
}
.post__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #717171;
  &.card {
    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 32px;
      color: #717171;
    }
  }
  p {
    line-height: 1.4em;
    margin-bottom: 20px;
    color: #a0a0a0;
    margin-top: 0;
    font-size: 24px;
  }
}
h1.post__title {
  font-weight: 700;
  font-size: 3em;
  line-height: 1.15;
  margin: 0 0 0.4em;
  letter-spacing: -.04em;
  color: #121212;
  margin-bottom: 16px;
}
.dangerous__content {
  p {
    margin: 0 0 1.25em;
    font-size: 18px;
    color: #212121;
    a {
      color: #ba007c;
    }
  }
  h2 {
    font-size: 1.953em;
    margin: 0.83em 0 0.5em;
    line-height: 1.35;
    font-weight: 500;
    color: #121212;
  }
}




.wp-block-table.is-style-stripes {
  border-spacing: 0;
  border-collapse: inherit;
  background-color: transparent;
  border-bottom: 1px solid #f0f0f0;
}
.wp-block-table {
  margin: 0 0 1em;
  overflow-x: auto;
}
.entry-content table {
  width: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 100%;
  overflow-x: auto;
  word-break: break-word;
  margin: 1em 0 30px;
  line-height: normal;
  color: #7b7b7b;
}
.entry-content thead tr {
  border-bottom: 2px solid #eee;
}
.entry-content tbody tr:last-child, .entry-content td:first-child, .entry-content td:last-child, .entry-content th:first-child, .entry-content th:last-child {
  border: 0;
  color: #5a5a5a;
  font-weight: 700;
  vertical-align: middle;
  font-size: .85em;
  padding: 8px 20px;
  text-align: left;
}
.entry-content tr {
  border-bottom: 1px solid #eee;
}
.wp-block-table.is-style-stripes tbody tr:nth-child(odd) {
  background-color: #f0f0f0;
}
.entry-content td, .entry-content th {
  font-size: .85em;
  padding: 8px 20px;
  text-align: left;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}


.wp-block-image img {
  height: auto;
  max-width: 100%;
  vertical-align: bottom;
}


td, th {
  font-size: 16px;
  padding: 8px 20px;
  text-align: left;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}


.pagination {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: $gradientDefault;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  right: 0;
  z-index: 99;
}

.btnEffect, .btnHover {
    padding: 15px 100px;
    margin:10px 4px;
    color: #fff;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    text-decoration: none;
    display:inline-block;
    top: 0px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase!important;
    letter-spacing: 2px;
    color: #fff;
    cursor: hand;
    text-align: center;
    text-transform: capitalize;
    border: 1px solid #fff;
    border-radius:50px;
    position: relative;
    overflow: hidden!important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background: transparent!important;
    z-index:10;
}

.btnEffect {
  &:hover {
    border: 1px solid #071982;
    color: #80ffd3!important;
  }
  &::before {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: #071982;
    position: absolute;
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg); 
    transform: skewX(-20deg);   
    left: -10%;
    opacity: 1;
    top: 0;
    z-index: -12;
    -moz-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    box-shadow:2px 0px 14px rgba(0,0,0,.6);
  }
  &::after {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: #80ffd3;
    position: absolute;
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg); 
    transform: skewX(-20deg);   
    left: -10%;
    opacity: 0;
    top: 0;
    z-index: -15;
    -webkit-transition: all .94s cubic-bezier(.2,.95,.57,.99);
    -moz-transition: all .4s cubic-bezier(.2,.95,.57,.99);
    -o-transition: all .4s cubic-bezier(.2,.95,.57,.99);
    transition: all .4s cubic-bezier(.2,.95,.57,.99);
    box-shadow: 2px 0px 14px rgba(0,0,0,.6);
  }
  &:hover::before{
    opacity:1;
    width: 116%;
  }
  &:hover::after {
    opacity:1;
    width: 120%;
  }
}

.postList {
  margin: 50px 0;
}




.btnHover{
  border: 1px solid #6098FF;
  color: #6098FF;
  position: relative;
  &:hover {
    color: #fff;
  }
  &:hover::before {
    box-shadow: inset 300px 0px 0px #6098FF;
  }
  &::before {
    content: '';
    position: absolute;
    left: 0px;
    bottom:0px;
    z-index:-1;
    width: 100%;
    height:100%;
    background: transparent;
    box-shadow: inset 0px 0px 0px #6098FF;
    display: block;
    -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
    transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
  }
}





.dangerous__content {
  pre {
    color: #7b7b7b;
    background: #fafafa;
    border: 1px solid #eee;
    padding: 0.5em 1.5em 0.5em 1.5em;
    white-space: pre-wrap;
    word-wrap: break-word
  }
  ul {
    list-style: square;
    margin-left: 38px;
    padding-bottom: 32px;
    li {
      list-style: square;
      margin-bottom: 10px;
      font-size: 16px;
    }
  }
  h3 {
    font-weight: 500;
    color: #121212;
    font-size: 28px;
    margin: 28px 0 14px;
    line-height: 1.4;
  }
  h4 {
    font-weight: 500;
    color: #121212;
    font-size: 28px;
    margin: 28px 0 14px;
    line-height: 1.4;
  }

  .tm-click-to-tweet {
    display: block;
    background-color: #fff;
    margin: 0;
    padding: 0;
    position: relative;
    border: 1px solid #dddddd;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 15px 30px;
    margin: 15px 0px;
    zoom: 1;
    .tm-ctt-text {
      margin: 0;
      padding: 0;
      position: relative;
      margin-bottom: 10px;
      word-wrap: break-word;
      a {
        margin: 0;
        padding: 0;
        position: relative;
        color: #999999;
        font-size: 24px;
        line-height: 140%;
        text-transform: none;
        letter-spacing: 0.05em;
        font-weight: 100;
        text-decoration: none;
        text-transform: none;
      }
    }
  }
}


@media screen and (max-width: 768px) {
  .container:not(.navbar__container) {
    padding: 0;
  }
  .posts {
    &__content {
      flex-direction: column;
      img {
        max-width: 100% !important;
      }
    }
  }
  .btnHover {
    width: 100%;
    padding: 15px 0;
  }
  .pagination {
    // flex-direction: column;
    // gap: 0;
    .btnEffect {
      padding: 15px 30px;
    }
  }
}