.home{
  .banner{
    background-color: transparent;
    background-image: radial-gradient(at top right, #77FFF5 11%, #009CDE 49%);
    padding: 80px 0;

    .container{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;


      h1{
        color: #fff;
        font-family: "Montserrat", Sans-serif;
        font-size: 48px;
        font-weight: 800;
        line-height: 1.3em;
        display: flex;
        flex-direction: column;
        text-align: center;

        @media (max-width: 768px) {
          font-size: 24px;
          line-height: 1.3em;
        }

        span{
          font-size: 21px;
          font-weight: 500;
          line-height: 1.3em;
          margin-top: 23px; 
          
          @media (max-width: 768px) {
            font-size: 16px;
            line-height: 1.5em;
          }
        }
      }
    }
  }

  .card-list{
    padding: 36px 0;
  }

  button{
    background-color: #009CDE;
    border-radius: 5px;
    border: none;
    color: #000;
    font-family: "Montserrat", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    margin-top: 30px;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    margin: 20px auto 80px;
    cursor: pointer;
    &:hover{
      background-color: #77FFF5;
      color: #2a2a2a;
    }
  }
}