@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Raleway&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: rgb(70, 73, 76);
  font-family: 'Raleway', sans-serif;
}

.flex {
  display: flex;
}

.header {
  align-items: center;
  background-color: rgb(25, 133, 161);
  box-shadow: 0 15px 10px black;
  box-sizing: border-box;
  color: white;
  height: 100px;
  justify-content: center;
  position: fixed;
  width: 100%;
}

.header__title {
  font-family: 'Caveat', cursive;
  font-size: 3em;
}

.content {
  padding-top: 115px;
}

.page {
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 1em;
}

.page__title {
  color: white;
}

.page__button {
  background-color: rgb(25, 133, 161);
  border-style: none;
  border-radius: 15px;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  margin: 1em;
  padding: 0.3em;
  width: 200px;
}

.cards {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
  width: 100%;
}

.card {
  background-color: rgb(25, 133, 161);
  border-radius: 15px;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 1em;
  width: 300px;
}

.card__image {
  border-radius: 15px;
  width: 100%;
}

.card__description {
  align-items: center;
  flex-direction: column;
}

.card__title {
  padding: 1em;
}

.card__button {
  background-color: white;
  border-style: none;
  border-radius: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  margin: 1em;
  padding: 0.3em;
  width: 200px;
}

.content-page {
  flex-direction: column;
  padding-top: 115px;
}

.content-page__image {
  width: 100%;
}

.content-page__title {
  padding: 1em;
}

.content-page__article {
  padding: 1em;
}

.content-page__article p {
  margin-bottom: 0.5em;
}

.content-page__article a {
  color: rgb(25, 133, 161);
  text-decoration: none;
}

.content-page__article h2 {
  margin: 1em 0 0.5em;
}

.wp-block-image img {
  height: auto;
  margin: 2em 0;
  width: 100%;
}

.wp-block-group table {
  border: 2px solid black;
  margin: 1em 0.3em;
  padding: 0.3em;
}

.wp-block-group thead th {
  border: 1px solid black;
}

.wp-block-group tbody td {
  border: 1px solid black;
  text-align: center;
}
