@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Raleway&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: rgb(70, 73, 76);
  font-family: 'Raleway', sans-serif;
}

.flex {
  display: flex;
}

.header {
  align-items: center;
  background-color: rgb(25, 133, 161);
  box-shadow: 0 15px 10px black;
  box-sizing: border-box;
  color: white;
  height: 100px;
  justify-content: center;
  position: fixed;
  width: 100%;
}

.header__title {
  font-family: 'Caveat', cursive;
  font-size: 3em;
}

.content {
  padding-top: 115px;
}

.page {
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 1em 0;
}

.page__title {
  color: white;
}

.page__button {
  background-color: rgb(25, 133, 161);
  border-style: none;
  border-radius: 15px;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 0.9em;
  font-weight: bold;
  margin: 1em;
  padding: 0.3em;
  width: 200px;
}

.cards {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 20px;
  width: 100%;
}

.card {
  background-color: rgb(25, 133, 161);
  border-radius: 15px;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 1em;
  width: 300px;
}

.card__image {
  border-radius: 15px;
  width: 100%;
}

.card__description {
  align-items: center;
  flex-direction: column;
}

.card__title {
  padding: 1em;
}

.card__button {
  background-color: white;
  border-style: none;
  border-radius: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  margin: 1em;
  padding: 0.3em;
  width: 200px;
}

.content-page {
  flex-direction: column;
  padding-top: 115px;
}

.content-page__image {
  width: 100%;
}

.content-page__title {
  padding: 1em;
}

.content-page__article {
  padding: 1em;
}

.content-page__article p {
  margin-bottom: 0.5em;
}

.content-page__article a {
  color: rgb(25, 133, 161);
  text-decoration: none;
}

.content-page__article ul, ol {
  padding: 2em;
}

.content-page__article li {
  padding-bottom: 0.5em;
}

.content-page__article h2 {
  margin: 1em 0 0.5em;
}

.content-page__article img,
.content-page__article iframe,
.wp-block-image img {
  height: auto;
  margin: 2em 0;
  width: 100%;
}

.wp-block-group table {
  border: 2px solid black;
  margin: 1em 0.3em;
  padding: 0.3em;
}

.wp-block-group thead th {
  border: 1px solid black;
}

.wp-block-group tbody td {
  border: 1px solid black;
  text-align: center;
}

@media screen and ( min-width: 768px ) {
  .header__title {
    font-size: 4em;
  }

  .page__title {
    font-size: 2em;
  }

  .page__button {
    font-size: 1em;
    margin: 1em;
    padding: 0.5em;
    width: 300px;
  }

  .content-page__title {
    padding: 1em 1.5em
  }

  .content-page__article {
    padding: 1em 3em;
  }

  .content-page__image {
    align-self: center;
    width: 80%;
  }

  .wp-block-image {
    text-align: center;
  }

  .content-page__article img,
  .content-page__article iframe,
  .wp-block-image img {
    height: auto;
    margin: 2em auto;
    width: 80%;
  }
}

@media screen and ( min-width: 1024px ) {
  .content-page__article p {
    font-size: 1.3em;
  }

  .content-page__article ul,
  ol,
  p,
  .wp-block-group table {
    font-size: 1.3em;
  }

  .page__button {
    font-size: 1.2em;
    margin: 2em;
    padding: 0.5em;
    width: 400px;
  }

  .content-page__image {
    width: 70%;
  }

  .content-page__article img,
  .content-page__article iframe,
  .wp-block-image img {
    width: 60%;
  }
}
