.cards {
  padding: 2em;
}

.card {
  display: flex;
  align-items: center;
  gap: 2em;
  height: 12em;
  width: 50em;
  margin-bottom: 2em;
  border-bottom: 1px solid rgb(226, 219, 211);
}

.card img {
  border-radius: 0.5em;
  max-width: 10em;
}

.slug {
  background-color: rgb(226, 219, 211);
  padding: 0.1em;
  border-radius: 0.5em;
}

.post-title h2,
p {
  margin-bottom: 0.2em;
  margin-top: 0.2em;
}

.post-title p {
  color: rgb(93, 110, 110);
}

.load-btn {
  color: #fff;
  background-color: rgb(108, 129, 248);
  margin-left: 2em;
  margin-bottom: 2em;
}
