.c-preview {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  max-height: 70%;
  background-color: #fff;
  border-radius: 10px;
  color: rgb(19, 19, 19);
  border: 1px solid #7c7c7c;
  margin: 5px auto;
  cursor: pointer;  
}

.c-preview:hover  {
  background-color: rgb(196, 193, 193);
  border: none;
}

.c-preview__content{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.c-preview__position{
  margin: 10px;  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.c-preview__img{
  width: 100px;
  max-height: 60px;
  margin: 0;
}

.c-preview__content__data {
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 12px;
  width: 100%;
  margin-bottom: 5px;
}

.c-preview__content__title {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
}
