body {
  background-color: #f9f9f9;
  font-family: "Kodchasan", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #888;
}

#wrapper {
  padding: 30px 0px;
}

iframe {
  width: 100%;
}

@media (max-width: 575.98px) {
  .card-box {
    a {
      .img-post {
        img {
          width: 100%;
        }
      }
    }
  }

  .post {
    .author {
      .about-author {
        display: block !important;
        text-align: center;

        .image-author {
          margin: 0 auto 15px !important;
        }

        .info-author {
          width: 100% !important;
          padding: 0px !important;
        }
      }
    }
  }
}
