
// Cores
$black: #212121;
$pink: #ba007c;
$grey: #d8d9dd;
$grey-2: #87868a;
$blue: #009bdb;
$excerpt: #a0a0a0;

$gradient-1: linear-gradient(90deg, #67666a 0%, #000000 100%);

// Valores para Media Queries
$min-width-desktop: 992px;
$max-width-smartphone: 991px;