:root {
  --verde-escuro: rgb(3, 107, 82);
  --verde-claro: rgb(47, 193, 140);
  --roxo-escuro: rgb(65, 25, 127);
  --roxo-claro: rgb(137, 88, 163);
  --azul-claro: rgb(0, 213, 226);
  --azul-escuro: rgb(0, 109, 251);
  --cinza-claro: rgb(225, 229, 235);
  --cinza1: rgb(62, 66, 75);
  --cinza2: rgb(40, 42, 47);
  --cinza3: rgb(30, 31, 36);
  --cinza4: rgb(26, 27, 28);
  }

.h1-home {
  font-size: 50px;
  font-weight: 900;
  text-align: center;
}

.content-home {
  display: flex;
  justify-content: center;
}

.card-post {
  margin-bottom: 30px;
}

.div-btn {
  align-items: center;
  display: flex;
  margin: 40px 0px;
}

.div-btn hr {
  background-color: #5a5a5a;
  height: 2px;
  width: 600px;
}

.btn-home {
  background-color: var(--verde-claro);
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: 900;
  padding: 15px;
  width: 350px;
}

.btn-home:hover {
  color: black;
  cursor: pointer;
}