.landing-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #7c98b3;
  min-height: 100vh;
  color: #0a2239;
  padding-bottom: 100px;
  text-align: center;
}

.landing-page-container-title {
  padding: 30px 10px;
}

.posts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landing-page-container-button {
  padding: 20px 15px;
  text-transform: uppercase;
  border-radius: 10px;
  border: none;
  background-color: #fa9500;
  font-weight: 700;
  font-size: 15px;
  margin-top: 40px;
  cursor: pointer;
  box-shadow: none;
}

@media only screen and (min-width: 768px) {
  .posts-container {
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-around;
  }
}
