.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #cee5f2;
  padding: 20px;
  min-height: 100vh;
  padding-bottom: 100px;
}
