@use "../../App";

.intern--body {
  margin: 4rem auto;
  width: 80%;
  overflow-x: hidden;

  & pre {
    width: 80%;
  }

  & h2,
  table,
  figure,
  img,
  pre {
    margin: 1rem 0;
  }

  & figure {
    width: 80%;

    & img {
      width: 100%;
      object-fit: contain;
    }
  }
}

@media (max-width: 768px) {
  .intern--body {
    width: 90%;
  }
}
