@import  '../../assets/css/_mixins';
.content-post{
    padding: 5% 2%;
    background: #ffffff;
    margin-top: 2%;
    .img-post{
        width: 100%;
        height: 350px;
        @include mobile{
            height: auto;
        }
    }
    p{
        line-height: 1.8em;
        margin-bottom: 20px;
        font-size: 18px;
        color: #525252;
        font-weight: 400;

    }
    img{
        margin: 0 auto;
        display: block;
    }
    h1{
        margin-bottom: 35px;
        margin-top: 20px;
        font-size: 35px;
    }
    h2,h3,h4{
        margin-top: 20px;
        margin-bottom: 10px;
        font-weight: 700;
    }
    h2{
      font-size: 30px;  
    }
    h3{
        font-size: 20px;
    }
    h4{
        font-size: 18px;
    }
    ul,ol{
        padding: 0 3%;
        li{
            line-height: 1.8em;
            margin-bottom: 20px;
            font-size: 18px;
            color: #525252;
            font-weight: 400;  
        }
    }
    pre{
        line-height: 1.8em;
        margin-bottom: 20px;
        font-size: 18px;
        color: #525252;
        font-weight: 400;
        background: #ccc;
        padding: 2%;
        background: #dddbdb;
        margin: 2% 0;
    }
}