@font-face {
  font-family: Roboto;
  src: url(../../assets/fonts/Roboto-Regular.ttf)
}

.post-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: Roboto;
  justify-content: space-around;
  max-width: 100vw;
  min-height: 100vw;
}

.post-title-container {
  font-size: 26px;
  padding-bottom: 50px;
  width: 90vw;
  word-wrap: break-word;
}

.post-author-container > span {
  bottom: 10px;
  font-size: 16px;
  position: relative;
}

.post-author-container > img {
  border-radius: 50%;
  width: 35px;
}

.post-content {
  color: rgb(70, 70, 70);
  display: flex;
  flex-direction: column;
  font-size: 18px;
  max-width: 80vw;
  overflow: hidden;
  position: relative;
  word-wrap: break-word;
}

.post-content figure > img{
  height: auto;
  max-width: 80vw;
}

.post-content ul {
  left: 25px;
  list-style-type: square;
  position: relative;
}

.post-content pre {
  background-color: rgb(78, 78, 85);
  border-radius: 10px;
  color: rgb(252, 164, 0);
  font-weight: 600;
  padding: 25px;
}

.loader {
  position: absolute;
  top: 150px;
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
            opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
            opacity: 1;
  }
}
