/*
    Archive for variables
*/

// Variable Colors for map

$colors: (
  "primary": #000,
  "secondary": #fff,
  "gray-500": #808080,
  "purple-500": #8b33ff
);
$fontWeight: (
  "regular": 400,
  "medium": 500,
  "semibold": 600,
  "bold": 700,
  "extrabold": 800
);
$breakpoints: (
  "sm": 375px,
  "md": 768px,
  "lg": 1220px,
  "xl": 1440px,
);
