:root {
  font-size: 60%;
  --color-background: #a6efd6;
  --color-background-header: linear-gradient(90deg, #67666a 0%, #000000 100%);
  --color-text-base: #6A6180;
  --color-button-text: #FFFFFF;
  --color-card: #a3a3a3;
  --color-box-footer: #FAFAFC;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 90vh;
}

body {
  background: var(--color-background);
  cursor: pointer;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

body,
input,
button,
textarea {
  font:  500 2rem Poppins;
}

a {
  text-decoration: none;
  color: #000000;
  font-size: 2vh;
}

a:hover {
  color: #ff0000;
}

.container {
  width: 90vw;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 700px) {
  :root {
    font-size: 60%;
  }
}
