@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
