.footer-container {
  margin: 0 auto;
  max-width: 700px;
}

.footer__title {
  color: #fff;
  text-align: center;
}

.footer-container p {
  color: #555;
  margin: 5px 20px;
  text-align: center;
}

.footer-container p:last-of-type {
  color: #252525;
  font-weight: 500;
  margin-top: 20px;
}

.footer-container p:first-of-type {
  margin: 0px 0;
}

.footer-social__links {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.footer-social__links a img {
  cursor: pointer;
  margin: 0 1rem;
  width: 35px;
}
