.footer-container {
  margin: 0 auto;
  max-width: 700px;
}

.footer-container p {
  color: #555;
  margin: 0.3rem 1.25rem;
  text-align: center;
}

.footer-container p:first-of-type {
  margin: 0.9rem 0;
}

.footer-container p:last-of-type {
  color: #252525;
  font-weight: 500;
  margin-top: 0.9rem;
}

.footer__title {
  color: #fff;
  text-align: center;
}

.footer-social__links {
  display: flex;
  justify-content: center;
  margin-top: 0.625rem;
}

.footer-social__links a img {
  cursor: pointer;
  margin: 0 1.25rem;
  width: 35px;
}
