#header {
  background-color: #1b1b1b;
  padding: 5px 0;
}

#header-container {
  max-width: 960px;
  display: flex;
  align-items: center;
  padding: 10px 0;
  margin: 0 auto;
  justify-content: space-around;
}

#apiki-logo {
  width: 120px;
}
