header {
  background-color: #1b1b1b;
  padding: 5px 0;
  position: fixed;
  width: 100%;
  top: 0;
}

.header-container {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 960px;
  padding: 0.625rem 0;
}

.header__logo {
  width: 7.5rem;
}
