body {
  background-color: #ddd;
}

#home {
  margin: 0 auto;
}

#btn-load-more {
  background-color: #252525;
  border: none;
  border-radius: 2px;
  color: #fff;
  display: block;
  letter-spacing: 0.5px;
  font-size: 18px;
  font-weight: 500;
  margin: 0 auto 20px;
  padding: 10px 35px;
}

#btn-load-more:disabled {
  background-color: #252525b4;
}
