#menu {
  margin: 0 auto;
  max-width: 960px;
}

#menu h3 {
  color: #fff;
  font-weight: 500;
  margin-left: 20px;
}

#menu-social-links {
  display: flex;
  justify-content: center;
}

#menu-content-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 15px;
  max-width: 960px;
}

#menu-content-links li a {
  color: rgba(255, 255, 255, 74.7%);
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  margin: 5px 10px;
  transition: 0.5s;
}

#menu-content-links li a:hover {
  color: #fff;
  transition: 0.5s;
}

#menu-social-links a img {
  cursor: pointer;
  margin: 0 1rem;
  width: 35px;
}
