.post-card {
  background-color: #fff;
  margin-bottom: 15px;
  padding: 20px 0 5px;
  text-align: center;
}

.post-card:first-of-type {
  margin-top: 80px;
}

.post-card__image {
  max-width: 100%;
}

.post-card__title {
  color: #333;
  font-size: 20px;
  font-weight: 500;
  margin: 0 15px 10px;
  text-align: left;
}

.post-card__date {
  color: #555;
  margin: 10px 0 5px 10px;
  text-align: left;
}

.post-card__description {
  color: #555;
  margin: 10px 15px 5px 10px;
  text-align: left;
}

@media (min-width: 560px) {
  .post-card {
    margin: 20px auto;
    display: flex;
    max-width: 700px;
  }
}
