#post {
  background-color: #fff;
}

#post-container {
  max-width: 960px;
  margin: 0 auto;
  padding: 10px 0;
}

hr {
  margin: 0 20px;
}

#post-content {
  max-width: 100%;
  margin: 0 20px;
}

#post h1 {
  color: #252525;
  font-weight: 600;
  font-size: 30px;
  padding-top: 10px;
  margin: 0 20px 10px;
}

#post-subtitle {
  color: #555;
  margin: 10px 20px 30px;
  font-size: 20px;
}

#post-content p {
  color: #333;
  margin: 10px 0;
  font-size: 20px;
  letter-spacing: 0.5px;
}

#post-content h2 {
  color: #252525;
  font-weight: 500;
  font-size: 24px;
  margin-top: 35px;
}

#post-content img {
  max-width: 100%;
  max-height: 250px;
}

#post-content tr {
  color: #252525;
  margin: 10px 0;
}

#post-content li {
  color: #333;
  font-size: 18px;
}

@media (min-width: 600px) {
  #post-content img {
    max-width: 100%;
    max-height: 400px;
  }
}
