#postCard {
  text-align: center;
  background-color: #fff;
  margin: 15px 0;
  padding: 20px 0 5px 0;
}

#postCard-image {
  max-width: 100%;
}

#postCard-title {
  text-align: left;
  margin: 0 15px 10px 15px;
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #333;
}

#postCard-date {
  text-align: left;
  margin: 10px 0 5px 15px;
  color: #555;
}
