#post {
  background-color: #fff;
}

#post-container {
  margin: 0 20px;
}

#post-content {
  max-width: 100%;
}

#post h1 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 28px;
  padding-top: 10px;
  margin-bottom: 10px;
}

#post-subtitle {
  color: #555;
  margin: 10px 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 22px;
}

#post-content p {
  color: #333;
  margin: 10px 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
}

#post-content h2 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 22px;
  margin: 10px 0;
}

#post-content img {
  max-width: 100%;
  max-height: 200px;
}
