<mat-toolbar class="header-container">
    <div class="logo-container">
        <button pButton pRipple icon="pi pi-align-justify" class="p-button-rounded p-button-text" aria-label="icon-button with menu icon">
          </button>
        <img src="" alt="">
        <a class="logo" href="" (click)="navigateHome()">
            <img src="../../assets/images/marca-apiki-blog.webp" alt="Logo da Apiki">
        </a>
    </div>
    <div class="social-media-container">
            <a href="https://web.facebook.com/ApikiWordPress?_rdc=1&_rdr" target="_blank" ><button pButton  pRipple icon="pi pi-facebook" class="p-button-rounded p-button-text p-button-info"></button>
            </a>
            <a href="https://www.linkedin.com/company/apiki/" target="_blank" ><i pButton  pRipple class="p-button-rounded p-button-text"   icon="pi pi-linkedin"></i></a>
           <a href="https://www.instagram.com/apikiwordpress/" target="_blank" ><button pButton  pRipple class="p-button-rounded p-button-text"  icon="pi pi-instagram"></button></a>
           <a href="https://twitter.com/apikiWordPress/" target="_blank" ><button pButton pRipple class="p-button-rounded p-button-text" icon="pi pi-twitter"></button></a>
           <a href="https://www.youtube.com/channel/UC__ToR3hqjs1ZktdLIWqYFA" target="_blank" ><button pButton  pRipple class="p-button-rounded p-button-text" icon="pi pi-youtube"></button></a>
           <a href="https://github.com/Apiki" target="_blank" ><button pButton pRipple class="p-button-rounded p-button-text" icon="pi pi-github"></button></a>
           <a href="https://blog.apiki.com/" target="_blank" ><button pButton pRipple class="p-button-rounded p-button-text" icon="pi pi-wifi"></button></a>
    </div>
  </mat-toolbar>