.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .post{
    width: 350px;

    img {
      width: 350px;
      margin-bottom: 2rem;
    }
  }
}

.post {
  max-width: 720px;
  margin: 5rem auto 0;

  p {
    margin-bottom: 3rem;
  }

  img {
    max-width: 700px;
    margin-bottom: 2rem;
  }

  h1 {
    font-size: 3.5rem;
    font-weight: 900;
  }

  time {
    display: block;
    font-size: 1rem;
    color: var(--gray-300);
    margin-top: 1.5rem;
    margin-bottom: 2rem;
  }

  .postContent {
    margin-top: 2rem;
    line-height: 2rem;
    font-size: 1.125rem;
    color: var(--gray-100);

   

    p,
    ul {
      margin: 1.5rem 0;
      
    }
  }
}
