.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 auto;

  button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 15rem;
    height: 3rem;
    margin-bottom: 3rem;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    font-weight: bold;
  }
}

@media only screen and (max-width: 600px) {
  .posts{
    width: 300px;
  }
}

.posts {
  max-width: 720px;
  margin: 5rem auto 0;

  a {
    display: block;
    margin-top: 2rem;
    padding-top: 2rem;
    
    

    & + a {
      margin-top: 2rem;
      padding-top: 2rem;
      border-top: 1px solid var(--gray-700);
    }

    img {
      width: 9rem;
      height: 5rem;
      margin-bottom: 1rem;
    }

    time {
      font-size: 1rem;
      display: flex;
      align-items: center;
      color: var(--gray-300);
    }

    strong {
      display: block;
      font-size: 1.5rem;
      margin-top: 1rem;
      line-height: 2rem;
      transition: color 0.2s;
    }

    p {
      color: var(--gray-300);
      margin-top: 0.5rem;
      line-height: 1.625rem;
    }

    &:hover strong {
      color: yellow;
    }
  }
}
