.header__container {
  background: linear-gradient(90deg, rgba(89,91,92,1) 0%, rgb(14, 14, 14) 100%);
  width: 100%;
}

.header__wrapper {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 1160px;
}

.header {
  display: grid;
  grid-template-columns: 1.2fr 5fr 1.8fr;
  grid-template-areas: "logo search mediaIcons";
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.header__logo {
  grid-area: logo;
  display: flex;
  align-items: center;
}

.header__logo hr {
  height: 20px;
  border: none;
  border-right: 1px gray solid;
}

.header__logo span {
  color: var(--secondary-color);
  font-size: 0.7rem;
  font-weight: bold;
}

.header__logo__img {
  height: 30px;
}

.header__search__bar {
  grid-area: search;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  width: 60%;
  height: 62%;
  border-radius: 20px;
  background-color: white;
}

.header__search__bar input {
  width: 90%;
  height: 50%;
  border: none;
  outline: transparent;
  font-size: 1rem;
}

.header__search__bar__icon {
  color: var(--link-color);
}

.header_social__media {
  grid-area: mediaIcons;
  display: flex;
  gap: 20px;
}

.header_social__media__icons {
  color: white;
  font-size: 1.1rem;
}