header {
  background-color: var(--black);
  padding: 1rem 0;
}

.header__link {
  color: var(--white);
  text-decoration: none;
}

.header__box {
  align-items: center;
  display: flex;
  justify-content: center;
}

.header__text {
  font-size: 2rem;
  margin-left: 0.5rem;
}

@media (max-width: 460px) {
  .header__image {
    width: 40%;
  }

  .header__text {
    font-size: 1.5rem;
  }
} ;
