.container-header {
  display: flex;
  align-items: center;
  padding-left: 5em;

  min-width: 100vh;
  height: 3em;
  color: #fff;

  background: linear-gradient(90.23deg, #05ede3 0.02%, #645ffb 99.63%);

  font-size: 2em;
}
