.header {
  position: relative;
  z-index: 2;
  width  : 100%;
  padding: 15px;

  /* Box-shadow */
  -webkit-box-shadow: 0px 4px 18px -1px rgb(0 0 0 / 23%);
  box-shadow        : 0px 4px 18px -1px rgb(0 0 0 / 23%);
}

.header__container {
  width: 100%;

  /* Flex options */
  display    : flex;
  flex-wrap  : wrap;
  align-items: center;
}

.header__logo,
.header__nav {
  width: 50%;
}

.header__logo__img {
  max-width: 128px;
}

.header__nav {
  text-align: right;
}

.header__nav__list__item {
  display: inline-block;
  padding: 0 12px;
}

.header__nav__list__item__text {
  text-decoration: none;
  font-size      : 15px;
  color          : var(--smooth-font-color);
}

.header__nav__list__item__text:hover {
  color: var(--primary-font-color);
}
