.footer {
  background: #d07400;
  color: #d3d3d3;
  height: 275px;
  position: relative;
}

.footer-content {
  display: flex;
}

.footer-section {
  flex: 1;
  padding: 25px;
}

.footer-content h1,
.footer-content h2 {
  color: white;
}

.links ul a {
  display: block;
  margin-bottom: 10px;
  font-size: 1.2em;
  transition: all .3s;
}

.links ul a:hover {
  color: white;
  margin-left: 15px;
  transition: all .3s;
}

.footer-bottom {
  background: #343a40;
  color: #686868;
  height: 50px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-top: 20px;
}

@media only screen and (max-width: 934px) {

  .footer {
    height: auto;
  }

  .footer-content {
    height: auto;
    flex-direction: column;
  }

}
