@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,500;0,600;1,300;1,500;1,600&family=Open+Sans:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Press+Start+2P&display=swap')

\:root
  --cor-um: #222
  --global-margin: 5%
  --fonte-corpo: 'Open Sans', sans-serif
  --fonte-alternativa: 'Chakra Petch'

*
  margin: 0
  padding: 0
  box-sizing: border-box

body
  // background-image: radial-gradient(circle, #ea00d9, #ae2fc7, #7837ac, #49348c, #232a67, #162556, #0e1e44, #091833, #091833, #091833, #091833, #091833)
  background-image: linear-gradient(to left bottom, #8e1986, #6d247e, #4f2772, #342562, #1d214f, #1d214f, #1d214f, #1d214f, #342562, #4f2772, #6d247e, #8e1986)
  background-attachment: fixed
  font-family: var(--fonte-corpo)

  img
    max-width: 100%
    height: auto
