@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,500;0,600;1,300;1,500;1,600&family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Open+Sans:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Press+Start+2P&display=swap')

\:root
  --cor-um: #222
  --global-margin: 5%
  --fonte-corpo: 'Open Sans', sans-serif
  --fonte-alternativa: 'Chakra Petch'

*
  margin: 0
  padding: 0
  box-sizing: border-box

body
  // background-image: radial-gradient(circle, #ea00d9, #ae2fc7, #7837ac, #49348c, #232a67, #162556, #0e1e44, #091833, #091833, #091833, #091833, #091833)
  // background: radial-gradient(circle at 100% 80%, #FFA800, transparent 10%),radial-gradient(circle at 80% 50%, #ff47d699, transparent 45%),radial-gradient(circle at 0% 100%, #c9f1ff, #c9f1ff, transparent 15%)
  // background: #0b0e22
  background: #fff
  background-attachment: fixed
  font-family: var(--fonte-corpo)

  a
    text-decoration: none

  img
    max-width: 100%
    height: auto
    margin-bottom: -4px

@mixin reset-list
  margin: 0
  padding: 0
  list-style: none

@mixin horizontal-list
  @include reset-list

  li
    display: inline-block
