.news {
  border: 1px solid #d4d4d4;
  background-color: #fafafa;
  border-radius: 3px;
  text-align: center;
  padding: .9375rem;
}

.news__title {
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-bottom: .9375rem;
}

.news__btn {
  width: 100%;
  padding: .625rem .3125rem;
}
