.header {
  align-items: center;
  background-color: rgb(246,248,250);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 20vh;
  width: 100%;
}

.header--container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 50%;
  width: 80%;
}

.header--nav {
  justify-content: space-around;
}

.nav-links-icon {
  color: rgb(146,146,150);
  font-size: 20px;
  padding: 5px;
}

.nav-links-icon:hover {
  color: rgb(247,127,62);
}

.header--search-bar {
  justify-content: center;
}

.header--form {
  flex-wrap: nowrap;
}

#logo {
  width: 100px;
}

@media only screen and (max-width: 400px) {
  .form--input {
    width: 100px;
  }
}
