.flex {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.main {
  width: 100%;
}

#main--title {
  color: rgb(40, 40, 40);
  text-align: center;
  padding-bottom: 15px;
}

.main--container {
  justify-content: center;
  width: 80%;
}
