@import '../../../style/global.sass'

header
  // background: #222
  // border-bottom: 2px solid #FFA800
  padding: 50px var(--global-margin) 0 var(--global-margin)
  margin: 0 0 40px 0
  display: flex
  justify-content: space-between
  align-items: center
  z-index: 99
  position: relative

  h1
    // font-family: var(--fonte-alternativa)
    font-size: 16px

    a
      color: #222

  nav
    @include horizontal-list

    a
      margin: 0 0 0 20px
      color: #444
