@import '../../../style/global.sass'

header
  padding: 50px var(--global-margin) 0 var(--global-margin)
  margin: 0 0 40px 0
  display: flex
  justify-content: space-between
  align-items: flex-start
  z-index: 99
  position: absolute
  height: 250px

  h1
    font-family: var(--fonte-alternativa)
    font-size: 18px

    a
      color: #222

  nav
    @include horizontal-list

    a
      margin: 0 0 0 20px
      color: #444

header.single
  padding: 30px var(--global-margin)
  margin: 0
