.linkTop {
  position: fixed;
  bottom: 20px;
  background: var(--cyan-500);
  border-radius: 1rem;
  font-weight: bold;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5rem;

}

@media only screen and (max-width: 600px) {
  .linkTop {
    margin-left: 21rem;
  }
}