.home {
    .list-posts {
        display: grid;
        grid-gap: 20px;

        @media screen and (min-width: 768px) {
            grid-template-columns: 50% 50%;
        }

        @media screen and (min-width: $min-width-desktop) {
            grid-template-columns: 32% 32% 32%;
        }
    }

    .pagination {
        padding-top: 30px;
        display: flex;
        justify-content: center;
    }
}