.feed {
  flex-grow: 1;
}
.card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.postcard__img {
  height: auto;
}

.postcard__h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.postcard__p {
  color: #f4f4f4;
  font-size: 12px;
  line-height: 1.4;
  opacity: 0.7;
  margin-bottom: 0;
  margin-top: 8px;
}

.postcard .postcard__infos {
  padding: 16px;
}
