.subButton{
    height: 4rem;
    width: 260px;
    border: 0;
    border-radius: 2rem;
    background: white;
    color: var(--gray-900);
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: filter 0.2s;

    &:hover {
        filter: brightness(0.8);
    }
}