.h-posts {
  margin: 5rem 0;
}

.h-post__item {
  width: 80rem;
  height: 18rem;
  background: #e6e6e9;
  border-radius: 0.75rem;

  margin-bottom: 3rem;

  display: flex;
}

.h-post__item img {
  width: 26rem;
  margin-right: 3rem;

  border-radius: 0.75rem;
}

.h-post__content h2 {
  margin: 1rem 0;
}

.h-post__author {
  font-size: 1.1rem;
}

.h-post__author span {
  font-weight: bold;
}

.h-post__call {
  margin: 1rem 0;
  padding: 0.8rem 0;
}

.h-show-more {
  margin-bottom: 5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.h-show-more .btn {
  width: 20rem;
  background: #ba007c;
  color: white;
  border: none;
  border-radius: 1rem;
  font-weight: bold;
  font-size: 1.8rem;
  padding: 0.5rem 0;
}

.h-show-more .btn:hover {
  cursor: pointer;
}
