:root {
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  background: #f5f5f5;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.2rem;
}

p {
  font-size: 1.6rem;
  color: #5a5a5a;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 6rem;

  margin-bottom: 3rem;

  background-image: linear-gradient(to right, #67666a, #000);
  color: white;

  display: flex;
  align-items: center;
}

header .container {
  display: flex;
  justify-content: space-between;
}

.h-medias {
  display: flex;
  align-items: center;
}

.h-medias a {
  margin-right: 1rem;
}

.c-post__call p {
  font-size: 2.4rem;
  color: #a0a0a0;
  margin: 1rem 0;
  padding: 0.8rem 0;
}

.c-post__author {
  border-top: 0.2rem solid #ddd;
  margin-bottom: 2.5rem;
  display: flex;
  align-items: center;
}

.c-post__author img {
  width: 4rem;
  margin-right: 1rem;
  margin-top: 1rem;
  border-radius: 50%;
}

.c-post__author p {
  font-size: 1.3rem;
  color: #a0a0a0;
}

.c-post__author span {
  font-weight: bold;
}

.c-post__img {
  display: flex;
  justify-content: center;
}

.c-post__img img {
  width: 70%;
  margin: 3rem 0;
}

.c-post__content h2 {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  font-size: 3.5rem;
  font-weight: 500;
}

.c-post__content p,
.c-post__content .wp-block-coblocks-gist {
  color: #212121;
  margin-bottom: 2rem;
}

.c-post__content .wp-block-coblocks-gist {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.wp-block-image {
  margin: 3rem 0 5rem 0;
  text-align: center;
}

.wp-block-image img {
  width: 75rem;
  height: 71.3rem;
}

.author-card {
  width: 70%;
  padding: 2rem;
  background-color: #c7c7c7;
  margin: 3rem 0;

  display: flex;
}

.author-card img {
  margin-right: 2rem;
  border-radius: 50%;
}

.author-card .author-info h2 {
  margin-bottom: 2rem;
}

footer .container {
  border-top: 0.2rem solid #ddd;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.f-about,
.f-pages {
  margin-top: 3rem;
}

.f-about h2,
.f-about p,
.f-pages h2 {
  margin-bottom: 2rem;
}

.f-about p,
.f-pages p {
  line-height: 1.5;
}

.f-pages {
  display: flex;
  flex-direction: column;
}

.f-pages a {
  line-height: 1.5;
  font-size: 1.6rem;
  font-weight: bold;
  color: #5a5a5a;
}
