:root {
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  background: #f5f5f5;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.2rem;
}

p {
  font-size: 1.6rem;
  color: #5a5a5a;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.content {
  width: 100%;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 6rem;

  margin-bottom: 3rem;

  background-image: linear-gradient(to right, #67666a, #000);
  color: white;

  display: flex;
  align-items: center;
}

header .container {
  display: flex;
  justify-content: space-between;
}

.h-medias {
  display: flex;
  align-items: center;
}

.h-medias a {
  margin-right: 1rem;
}

footer .container {
  border-top: 0.2rem solid #ddd;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.f-about,
.f-pages {
  margin-top: 3rem;
}

.f-about {
  margin-right: 3rem;
}

.f-about h2,
.f-about p,
.f-pages h2 {
  margin-bottom: 2rem;
}

.f-about p,
.f-pages p {
  line-height: 1.5;
}

.f-pages {
  display: flex;
  flex-direction: column;
}

.f-pages a {
  line-height: 1.5;
  font-size: 1.6rem;
  font-weight: bold;
  color: #5a5a5a;
}
