.loading {
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.loading span {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 24px;
  color: BLACK;
  display: inline-block;
  transition: all 0.5s;
  animation: animate 2s infinite;
}
.loading span:nth-child(1) {
  animation-delay: 0.1s;
}
.loading span:nth-child(2) {
  animation-delay: 0.2s;
}
.loading span:nth-child(3) {
  animation-delay: 0.3s;
}
.loading span:nth-child(4) {
  animation-delay: 0.4s;
}
.loading span:nth-child(5) {
  animation-delay: 0.5s;
}
.loading span:nth-child(6) {
  animation-delay: 0.6s;
}
.loading span:nth-child(7) {
  animation-delay: 0.7s;
}
.loading span:nth-child(8) {
  animation-delay: 0.8s;
}
.loading span:nth-child(9) {
  animation-delay: 0.9s;
}
.loading span:nth-child(10) {
  animation-delay: 1s;
}

@keyframes animate {
  0% {
    color: #6495ed;
    transform: translateY(0);
    margin-left: 0;
  }
  25% {
    color: #6495ed;
    transform: translateY(-15px);
    margin-left: 10px;
  }
  100% {
    color: black;
    transform: translateY(0);
    margin-left: 0;
  }
}
