.intern {
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow-x: hidden;
}

.intern__image--box {
  padding: 3rem 0 1rem 0;
  text-align: center;
  width: 100%;
}

.intern__image {
  width: 80%;
}

.intern__info {
  margin: 3rem auto;
  text-align: left;
  width: 80%;
}

.intern__info__title,
.intern__info__subtitle,
.intern__info__date,
.intern__info__author {
  padding-bottom: 1rem;
}

.intern__info__title {
  font-size: 2rem;
}

.intern__info__subtitle {
  font-size: 1.5rem;
}

.intern__info__link {
  align-items: center;
  color: var(--black);
  display: flex;
  font-size: 1.1rem;
  text-decoration: none;
  transition: all ease 0.3s;
}

.intern__info__link:hover {
  color: var(--dark-grey);
  text-decoration: underline;
}

.intern__info__icon {
  background-color: var(--light-grey);
  border-radius: 100%;
  margin-right: 1rem;
  width: 2.5rem;
}

.intern__info__date {
  color: var(--dark-grey);
}

.intern__content {
  text-align: left;
  margin: 3rem auto;
  width: 80%;
}

.intern__content a {
  color: var(--dark-grey);
  font-size: 1.3rem;
  transition: all ease 0.3s;
}

.intern__content a:hover {
  color: var(--black);
}

.intern__content h1,
.intern__content h2,
.intern__content h3,
.intern__content h4 {
  font-size: 2rem;
  margin: 1.5rem 0;
}

.intern__content img {
  margin: 1.5rem 0;
  max-width: 100%;
  height: auto;
}

.intern__content p {
  font-size: 1.3rem;
  margin: 1rem 0;
  line-height: 2rem;
}

.intern__content table {
  margin: 1.5rem 0;
}
