.contentContainer {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;
  height: calc(100vh - 5rem);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .contentContainer{
    margin-top: 5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }

}

@media only screen and (max-width: 600px) {
    
  .image{
    width: 350px;
    margin-top: 4rem;
  }
}
.hero {
  max-width: 600px;

  

  span {
    font-size: 1.5rem;
    font-weight: bold;
  }

  h1 {
    font-size: 4.5rem;
    line-height: 4.5rem;
    font-weight: 900;
    margin-top: 2.5rem;

    span {
      font-size: 4.5rem;
      line-height: 4.5rem;
      font-weight: 900;
      margin-top: 2.5rem;
      color: var(--cyan-500);
    }
  }

  p {
    font-size: 1.5rem;
    line-height: 2.25rem;
    margin-top: 1.5rem;
  }
}
