.about-container {
  position: fixed;
  top: 5vh;
  left: 5vw;
  z-index: 99;
  background-color: #ffff;
  box-shadow: 0 0 100vw black;
  width: 90vw;
  height: 90vh;
  text-align: center;

  .title-background {
    background-color: #009cde;
    height: 300px;
    text-align: center;

    @media (max-width: 600px) {
      height: 100%;
      overflow: hidden;
    }

    h1 {
      margin: auto;
      padding-top: 100px;
      margin-top: 100px;
      margin-bottom: 20px;
      color: #ffff;
      font-family: inherit;
      font-size: 3.5rem;
      font-weight: 800;
      line-height: 1.3em;

      @media (max-width: 600px) {
        padding-top: 10px;
        margin-top: 40px;
        margin-bottom: 40px;
        font-size: 2.5rem;
        font-weight: 790;
        line-height: 1.3em;
      }
      @media (max-width: 400px) {
        margin-bottom: 25px;
        font-size: 2.5rem;
      }
    }
    h2 {
      width: 70%;
      margin: auto;
      color: #ffff;
      font-family: inherit;
      font-size: 2rem;
      font-weight: 500;
      line-height: 1.3em;

      @media (max-width: 600px) {
        width: 90%;
        font-size: 1.5rem;
        line-height: 1.3em;
      }
    }
  }

  .close {
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
    display: inline-block;
  }
}
