footer#footer-container{
    background: #050505;
    margin-top: 50px;
}


footer a{
    color: #FFF;
}

footer img{
    width: 60px;
    align-self: center;
    padding-top: 20px;
    height: auto;
}