footer {
  align-items: center;
  background-color: rgb(112, 112, 112);
  bottom: 0;
  color: white;
  display: flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  max-width: 100vw;
  margin-top: 20px;
}

.logo-footer {
  max-height: 50px;
  margin: 15px;
}

.adress-footer {
  margin: 15px;
}

.icons-footer {
  padding: 15px;
  margin: 15px;
}

#color{
  width: 35px;
}

#color:hover {
  color: orange;
  cursor: pointer;
}


