/* Create-React-App css reset */
@import-normalize;

/* padrões de reset do projeto */
html {
  box-sizing: border-box;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 h2 h3 h4 {
  color: var(--titleColor);
}

p {
  color: var(--textColor);
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--secondary);
}

:root {
  --backgroundColor: #fff;
  --primary: #ee8622;
  --primaryDarker: #e37811;
  --primaryLighter: #f09843;
  --secondary: #009bdb;
  --secondaryDarker: #008bc5;
  --secondaryLighter: #00aff8;
  --tertiary: #4a4a4a;
  --tertiaryDarker: #424242;
  --tertiaryLighter: #5c5c5c;
  --textColor: #858484;
  --titleColor: #484848;
  --textFont: 'Montserrat', helvetica, sans-serif;

  font-size: 16px;
}

#root {
  height: 100vh;
  width: 100vw;
}
