
li{
    text-decoration: none;
    max-width: 900px;
}
a{
    display:flex;
    text-decoration: none;
    color: black;

}

li img{
    height: 100px;
    border-radius: 0.5rem;
}


.post-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 1rem;
}