
li{
    text-decoration: none;
    max-width: 700px;
}

li a{
    display:flex;
    text-decoration: none;
    color: black;
}

li img{
    height: 100%;
    width: 250px;
    height: 140px;
    border-radius: 0.5rem;
}


.post-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 1rem;
}