.post-container-c{
	margin: 2em auto;
	max-width: 800px;
	text-align: justify;
	padding: 2em;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.post-container-c img{
	/*border-radius: 20px;*/
	width: 100%;
	height: 350px;
	object-fit: cover;
}
.post-container-c a{
	color: #000;
}
.post-container-c a:hover{
	color: orange;
	text-decoration: underline;
}
.post-container-c h2{
	margin: 1em 0;
}
