.post {
  align-items: center;
  display: flex;
  padding: 2.5rem 3rem;
}

.post__image--box {
  margin-right: 1rem;
  width: 55%;
}

.post__image {
  border-radius: 2rem;
  width: 100%;
}

.post__box {
  padding: 0 2rem;
  width: 45%;
}

.post__title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.post__date {
  margin-bottom: 0.5rem;
}

.post__author {
  align-items: center;
  display: flex;
  margin-bottom: 1rem;
}

.post__author--name {
  text-transform: capitalize;
}

.post__author--avatar {
  border-radius: 100%;
  margin-left: 1rem;
  width: 2.5rem;
}

.post__description {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.post__link {
  color: var(--black);
  font-size: 1.2rem;
  text-decoration: none;
  transition: all ease 0.3s;
}

.post__link:hover {
  color: var(--red);
}

@media (max-width: 1000px) {
  .post {
    flex-direction: column;
    padding: 2.5rem 1rem;
  }

  .post__image--box {
    width: 80%;
  }

  .post__box {
    width: 80%;
    padding: 1rem 0;
  }
}

@media (max-width: 480px) {
  .post {
    padding: 2.5rem 0;
  }
}
