.post {
  align-items: center;
  display: flex;
  padding: 2.5rem 3rem;
}

.post__image--box {
  margin-right: 1rem;
  width: 55%;
}

.post__image {
  border-radius: 2rem;
  width: 100%;
}

.post__box {
  padding: 0 2rem;
  width: 45%;
}

.post__title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.post__date {
  margin-bottom: 0.5rem;
}

.post__author {
  align-items: center;
  display: flex;
  margin-bottom: 1rem;
}

.post__author--name {
  text-transform: capitalize;
}

.post__author--avatar {
  border-radius: 100%;
  margin-left: 1rem;
  width: 10%;
}

.post__description {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.post__link {
  color: #000000;
  font-size: 1.2rem;
  text-decoration: none;
  transition: all ease 0.3s;
}

.post__link:hover {
  color: #ff0000;
  text-decoration: underline;
}
