.containerHeader {
    width: 100%;
    height: 15%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: black;
}

@media (max-width: 450px) {
    .containerHeader {
        width: 100vw;
    }
}

@media (max-width: 412px) {
    .containerHeader {
        width: 412px;
    }
}