//
// Paleta de cores
//

$white: white;
$black: black;
$raisin-black: rgba(43, 46, 59, 1);
$eerie-black: rgba(24, 25, 26, 1);
$medium-aquamarine: rgba(86, 227, 159, 1);
$violet-blue-crayola: rgba(126, 120, 210, 1);
$orange-yellow-crayola: rgba(255, 210, 90, 1);
$ruby-red: #a31621;