.cards {
  border-radius: 24px;
  background-color: var(--color-card);
  margin-top: 5vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  width: 90%;
  text-align: center;
}
