.app {
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(19,0,255,1) 49%, rgba(200,200,200,1) 100%);
  width: 100%;
  height: 100%;
  padding-left: 15px;
  padding-top: 15px;
}
.cont{
  padding-top: 70px;
  
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
