.App {
  background-color: #fde69a;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.header {
  background-color: black;
  display: flex;
  justify-content: space-between;
}

.header-side {
  background-color: white;
  width: 15%;
}

.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 50px;
}

.icon-description {
  display: none;
}

.footer {
  text-align: center;
}

.footer p {
  margin-top: 0;
  margin-bottom: 0;
}

.footer ol {
  list-style-type: none;
}

.footer ul {
  list-style-type: none;
}

.footer a {
  color: inherit;
}

.footer a:link {
  text-decoration: none;
}
.footer a:visited {
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer a:active {
  text-decoration: underline;
}

.copy-right {
  color: #5a5a5a;
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 10px;
}
