@font-face {
  font-family: Montserrat;
  src: url("../src/fonts/Montserrat-Thin.ttf");
}


:root {
  --body-bg-color: #24272b;

  --primary-color: #e7ecf0;
  --secondary-color: #c0c5c9;

  --link-color: #ba007c;
  --link-color-hover: #7c0053 ;

}

/* colors
#313866
#50409A
#964EC2
#FF7BBF 
#BA007C 
*/


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* dev */
  background-color: var(--body-bg-color);
  font-family: 'Montserrat', sans-serif;
  color: var(--primary-color);
}

code {
  font-family: 'Montserrat', sans-serif;
}