:root {
  --body-bg-color: #212529;
  --primary-color: #e3e8ec;
 
  --link-color: #ba007c;
  --link-color-hover: #7c0053 ;

}

/* colors
#313866
#50409A
#964EC2
#FF7BBF 
#BA007C 
*/


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* dev */
  background-color: var(--body-bg-color);
  color: var(--primary-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
