* {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  background: #fafafa;
}

.container {
  margin: 0 auto;
  max-width: 1170px;
}

.Header {
  background: rgb(201, 199, 199);
  width: 100%;
}

header .container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.Header ul{
  display: flex;
  gap: 10px; 
}

.Header li a {
  border-radius: 5px;
  color: #000;
  display: block;
  font-weight: bold;
  text-decoration: none;
}

.Header img {
  display: block;
}

.Container {
  padding: 30px;
}

.List {
  align-content: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.7rem;
  padding: 30px 0;
}

.CardList {
  background: #fff;
  max-width: 350px;
}

.Button {
  text-align: center;
  margin: 10px;
}

.Footer {
  background: rgb(201, 201, 201);
}
