@media (max-width: 700px) {
  .header__body {
    flex-direction: column;
    justify-content: center; 
  }
 
  .header__list {
    margin-top: 2rem;
  }

  .blog__card {
    width: 100%;

    &:nth-child(even){
      margin-left: 0;
    }
  }

  .post__body {
    max-width: 100%;
    padding: 3rem;
  }
}