.post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-container-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}


