$apiki_primary_color: #f57f20;
$apiki_secondary_color: #f5a21e;
$apiki_tertiary_color: #fdd00a;
$apiki_blue: #18acd3;

$dark_background_primary: #000;
$dark_background_secondary: #111;
$dark_background_tertiary: #222;
$dark_background_quaternary: #333;