$apiki_blue: #18acd3;
$apiki_secondary_color: #f5a21e;

html,
body {
  background-color: $apiki_blue;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  &::selection,
  &::-moz-selection {
    background-color: $apiki_secondary_color;
    color: #fff;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  html, body {
    color: white;
    background: black;
  }
  *::selection, *::-moz-selection {
    background-color: #1c2bfa;
    color: white;
  }
}
