@import "ApikiColors";

html,
body {
  overflow-x: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  &::selection,
  &::-moz-selection {
    background-color: $apiki_secondary_color;
    color: #fff;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  *::selection, *::-moz-selection {
    background-color: #1c2bfa;
    color: white;
  }
}
