@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;600;700&display=swap');

 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
 
body {
  background-color: #111927;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}