$apiki_primary_color: #f57f20;
$apiki_secondary_color: #f5a21e;
$apiki_tertiary_color: #fdd00a;
$apiki_blue: #18acd3;

.posts_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  padding: 0 20px;
  min-height: 100vh;
  background-color: $apiki_blue;
}

.post_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: relative;
  border: solid 2px transparent;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;

  &:hover {
    border: solid 2px rgba($apiki_primary_color, 0.777);
  }
}

.post_title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.post_image {
  width: 100%;
  height: auto;
}

.post_description {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.post_button {
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  position: absolute;
  bottom: 10px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  color: #000;
  text-decoration: none;

  &:hover {
    background-color: $apiki_primary_color;
    color: #fff;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination_button {
  font-size: 1.2rem;
  font-weight: bold;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  color: #000;
  text-decoration: none;
  margin: 2rem;

  &:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
  }
}

@media (prefers-color-scheme: dark) {
  .post_card,
  .footer {
    border-color: #222;
  }
  .posts_container,
  .post_card,
  .post_button {
    background-color: #111;
  }
  .pagination_button {
    color: #fff;
    background-color: #222;
    &:hover {
      box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2);
    }
  }
  .logo img {
    filter: invert(1);
  }
}
