$apiki_primary_color: #f57f20;
$apiki_secondary_color: #f5a21e;
$apiki_tertiary_color: #fdd00a;
$apiki_blue: #18acd3;

.blog_title {
  background-color: $apiki_blue;
  color: #fff;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.posts_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  padding: 20px;
  padding-bottom: 0;
  background-color: $apiki_blue;
}

.post_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
  padding: 20px;
  padding-bottom: 60px;
  position: relative;
  border: solid 2px transparent;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;

  &:hover {
    border: solid 2px rgba($apiki_primary_color, 0.777);
  }
}

.post_title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.post_description {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.post_card_footer {
  position: absolute;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.post_button {
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 10px 20px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  color: #000;
  text-decoration: none;

  &:hover {
    background-color: $apiki_primary_color;
    color: #fff;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $apiki_blue;
}

.pagination_counter {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}

.pagination_button {
  font-size: 1.2rem;
  font-weight: bold;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 10px 20px;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  color: #000;
  text-decoration: none;
  margin: 2rem;

  &:hover {
    background-color: darken($apiki_primary_color, 5%);
    color: #fff;

    &:disabled {
      background-color: #fff;
      color: #ccc;
    }
  }

  &:disabled {
    color: #ccc;
    cursor: not-allowed;
  }
}

@media (prefers-color-scheme: dark) {
  .blog_title,
  .posts_container,
  .pagination {
    background-color: #000;
  }
  .post_card {
    border-color: #222;

    &:hover {
      border-color: rgba($apiki_blue, 0.777);
    }
  }

  .post_card,
  .post_button {
    background-color: #111;
  }
  .post_button,
  .pagination_button {
    color: #fff;
    background-color: #333;
    &:hover {
      background-color: $apiki_blue;
    }
  }
  .pagination_button {
    background-color: #222;
    &:hover {
      background-color: rgba($apiki_blue, 0.777);
      &:disabled {
        color: #222;
        background-color: #111;
      }
    }
    &:disabled {
      color: #222;
      background-color: #111;
    }
  }
  .logo img {
    filter: invert(1);
  }
}

@media (max-width: 1080px) {
  .posts_container {
    grid-template-columns: 1fr;
  }

  .post_card {
    height: auto;
  }
}

@media (max-width: 512px) {

  .blog_title {
    font-size: 3rem;
  }

  .pagination_button {
    font-size: 1rem;
    margin: 10px;
  }

  .pagination_counter {
    font-size: 1rem;
  }

}

@media (max-width: 310px) {
  .pagination {
    flex-direction: column;
  }
}
