@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body, #root {
  height: 100vh;
}

body{
    background-color: #fcfcfc;
    font:400 14px Roboto, sans-serif;
    -webkit-font-smoothing:antialiased;
}

input, button, textarea{
    font:400 18px Roboto, sans-serif;
}

