body {
  background: $gray;
}

main {
  margin-top: 2rem;
  p {
    img {
      max-width: 100%;
      height: auto;
    }
  }
}
.main {
  &__content {
    background: $white;
  }
}
.wrapper {
  max-width: 1230px;
  margin: 0 auto;
  padding: 1.5rem;
}

.loader {
  border: 8px solid $gray;
  border-top: 8px solid $color__primary;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
